#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff;
    transition: all 0.4s ease-out;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: /*#3498db */ #969696;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: /*#e74c3c*/ #9f9f9f;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: /*#f9c922*/ #c6c6c6;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    /*background: #222;*/
    background: #fff;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
    display:none;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
    display:none;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
    background: transparent;
    transition: all 0.9s ease-out;

    /*-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    /*-ms-transform: translateX(-100%);  /* IE 9 */
    /*transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    /*-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    /*transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
    background: transparent;
    transition: all 0.9s ease-out;

    /*-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    /*-ms-transform: translateX(100%);  /* IE 9 */
    /*transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    /*-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    /*transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader, .loaded .spinner{
    opacity: 0;

    /*-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    /*transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

}
.loaded #loader-wrapper {
    background: transparent;
    visibility: hidden;

    /*-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    /*-ms-transform: translateY(-100%);  /* IE 9 */
    /*transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    /*-webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    /*transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.hop-loading {
  color: #000;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.spinner_svg {
  position: relative;
  z-index: 400;
}

#Group {
  stroke-dasharray: 142;
  stroke-dashoffset: 142;
  -webkit-animation: dash 8s cubic-bezier(0.02, 0.61, 0.85, 0.98) infinite;
  animation: dash 8s cubic-bezier(0.02, 0.61, 0.85, 0.98) infinite;
}

#Oval-1 {
  fill: none;
  -webkit-transform-origin: 22.5px 22.5px;
  transform-origin: 22.5px 22.5px;
  -webkit-animation: pulsate 8s infinite;
  animation: pulsate 8s infinite;
}

#Oval-2,
#Oval-3,
#Oval-4 {
  fill: none;
  -webkit-transform-origin: 22.5px 22.5px;
  transform-origin: 22.5px 22.5px;
  opacity: 0;
}

#Oval-2 {
  -webkit-animation: float 8s ease 3s infinite;
  animation: float 8s ease 3s infinite;
}

#Oval-3 {
  -webkit-animation: float2 8s ease 4s infinite;
  animation: float2 8s ease 4s infinite;
}

#Oval-4 {
  -webkit-animation: float3 8s ease 5s infinite;
  animation: float3 8s ease 5s infinite;
}

@-webkit-keyframes dash {
  25% {
    stroke-dashoffset: 0;
    opacity: inherit;
  }
  75% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  99% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 142;
  }
}

@keyframes dash {
  25% {
    stroke-dashoffset: 0;
    opacity: inherit;
  }
  75% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  99% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 142;
  }
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
  }
  28% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  37.5% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
  }
  40.5% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
  }
  53% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  62.5% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
  }
  65.5% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  75% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    opacity: 1;
    fill: none;
  }
  100% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    fill: white;
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
  }
  28% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  37.5% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
  }
  40.5% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
  }
  53% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  62.5% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
  }
  65.5% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  75% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    animation-timing-function: cubic-bezier(0, 0.96, 0.56, 0.97);
    opacity: 1;
    fill: none;
  }
  100% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    fill: white;
  }
}

@-webkit-keyframes float {
  0% {
    opacity: 0;
  }
  0.1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
  40% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    opacity: 0;
  }
  0.1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
  40% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes float2 {
  0% {
    opacity: 0;
  }
  0.1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
  30% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes float2 {
  0% {
    opacity: 0;
  }
  0.1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
  30% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes float3 {
  0% {
    opacity: 0;
  }
  0.1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
  30% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes float3 {
  0% {
    opacity: 0;
  }
  0.1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
  30% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.spinner {
  position: relative;
  z-index: 200;
  width: 300px;
  height: 200px;
  background: transparent;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 100px;
  border-radius: 4px;
}





