<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#wcfm-main-content {
    padding: 0px;
    max-width: 1600px;
    margin: 0px auto;
}
#wcfm_menu .wcfm_menu_items a.wcfm_menu_item, #wcfm_menu span.wcfm_sub_menu_items {
    background: #0f2623;
    border: 0;
}
h4 {
    display: none;
}
#wcfm-main-contentainer label{
  line-height:2.3
}
a.add_new_wcfm_ele_dashboard, a.wcfm_import_export, input.wcfm_submit_button, .wcfm_add_attribute, input.upload_button, input.remove_button, 
#wcfm-main-contentainer .dataTables_wrapper .dt-buttons .dt-button {
    border-radius: 30px;
    padding: 10px !important;
    height: 40px;
    box-shadow: none !important;
    border-bottom: 0;
    background: #00d1af;
      line-height: 1.7;
}
a.add_new_wcfm_ele_dashboard{
  line-height:normal;
}
a.wcfm_menu_item.active {
    background: #3fe7cc73 !important;
}
#wcfm_menu {
    background: #18897e;
  border:0;
}
.wcfm_dashboard_welcome_avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #05CFC2;
}
.wcfm-collapse-content {
    background: #fbfbfb;
    border-radius: 10px 10px 0 0;
    /* background: red; */
      min-height: 900px;
  max-width: 1200px;
}
#wcfm_menu .wcfm_menu_item span {
 font-size: 25px; 
}

.wcfm-page-headig {
    background: #18897e;
    border: 0;
    color: #52a198;
    font-weight: 300;
    font-size: 18px;
}
#wcfm_menu .wcfm_menu_item span:before {
    color: #ffffff !important;
}
.wcfm-collapse{
	 background: #18897e !important;
	 padding-bottom: 0px;
}
#wcfm-main-contentainer{
  	width: 100%;
    margin: 0px auto;
}
.wcfm_menu_logo img {
    width: 30%;
    margin: auto;
}
#wcfm_menu .wcfm_menu_items a.active {
  background: #00d0af !important;
}

.wcfm-page-headig:before {
    border: 0 !important;
}

#wcfm_menu .wcfm_menu_item span.text {
    font-weight: 300;
    margin-left: 12px;
    font-size: 13px;
    color: #ffffffab;
}

#wcfm_menu .wcfm_menu_logo {
    height: 190px;
    background: #18897e;
}

.page-id-3401 .banner {
    background: #0f2723 !important;
    border: 0 !important;
    box-shadow: none !important;
}
.page-id-3401 .content {
    background: #18897e;
}

div#wcfm-content {
    border: 0;
}

.wcfm_header_panel a, .wcfm_header_panel span {
    color: #fff !important;
}

.wcfm_dashboard_welcome_content:before {
    border: 0;
}

div.wcfm_dashboard_welcome_content {
    padding-top: 18px;
    padding-left: 92px;
    background: transparent;
    box-shadow: none;
}

div.wcfm_dashboard_welcome {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
    background: #f1f1f1;
    width: calc(100% - 30px);
    border-radius: 100px;
}

.wcfm_dashboard_stats_block {
    font-family: helvetica;
    font-weight: 300;
    border-radius: 40px;
    border-bottom: 0;
}

.wcfm_dashboard_stats_block .fa.fa-currency {
    font-family: helvetica;
    background: #0f2723;
}

.wcfm-collapse .wcfm-container, div.wcfm-content {
    border-bottom: 0;
}

.page_collapsible, .collapse-close {
    border-radius: 10px 10px 0 0;
    background: #18897e;
    font-weight: 300;
    text-transform: capitalize;
}

.wcfm_dashboard_stats_block span.fa-cart-plus {
    background: #35a2eb;
}

div.wcfm-collapse-content h2 {
    color: #0f2823;
}</style>
<!-- end Simple Custom CSS and JS -->
