<!-- start Simple Custom CSS and JS -->
<style type="text/css">
ul#adminmenu {
    padding: 0px 15px;
    width: 200px;
    box-sizing: border-box;
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    background: #00c598 !important;
    border-radius: 0;
}
.wp-admin p input[type=checkbox], td>input[type=checkbox] {
    min-width: 45px;
}

.wp-admin label, .wp-admin .form-table th, .wp-admin .form-wrap label{
    color: #eee;
}

.wp-admin h1, .wp-admin h2, .wp-admin h3 {
    color: #999;
}
#adminmenu .wp-has-current-submenu .wp-submenu {
    margin-right: 0 !important;
    width: calc(100% - 2px);
    margin-bottom: 15px;
  border: 1px solid teal;
}
.vc_subnav-fixed {
    top: 0 !important;
}
.flatty-top-bar {
 box-shadow:none!important; 
}
#screen-options-wrap {
    margin: 0;
    padding: 8px 20px 12px;
    position: relative;
    background: #3a4149;
    border: 1px solid teal;
}
.wrap h1.wp-heading-inline a, .wrap > a {
    border-radius: 15px !important;
    color: #fff !important;
    position: relative;
    top: -6px !important;
    background: #00ca95 !important;
    min-width: 91px !important;
    display: inline-block;
    text-align: center;
    border: 1px solid teal !important;
}
button#show-settings-link {
    background: #30373e !important;
    color: teal !important;
}

div#screen-options-link-wrap {
    background: teal !important;
}
#screen-options-wrap label {
    display: flex;
    align-items: center;
    color: #eee;
    width: 18%;
    float: left;
    display: inline-block;
}
.wrap h1, .wrap h1.wp-heading-inline {
    display: inline-block;
    margin-right: 5px;
    color: #FFF;
    font-size: 44px;
    margin-bottom: 20px;
}
div#wpcontent {
    margin-left: 200px;
    /*border-radius: 10px 0 0 0;*/
    background-color: #31373d !important;
  	padding: 20px 50px!important;
}
.update-nag {
    display: none;
}
div#adminmenuwrap {
    width: 200px;
}
#adminmenu, #adminmenuback, #adminmenuwrap, div#wpwrap {
  background: #3b4148 !important
}
#adminmenu li a {
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.77);
}
#adminmenu li.menu-top:hover, #adminmenu li.menu-top:hover a{
    border-radius: 8px;
    color: #fff !important
}

#adminmenu li.wp-menu-separator {
    height: 20px !important;
}

div#wcfmu_message {
    display: none;
}
#wp-content-editor-tools {
    background: transparent !important;
}

#sample-permalink > a {
    color: teal;
}

div#wp-content-media-buttons > a {
    display: none;
}


.wp_job_manager_meta_data .form-field:nth-child(even) {
    float: left !important;
    padding: 0 12px 0 0 !important;
    display: inline-block;
}

.wp_job_manager_meta_data .form-field {
    clear: right !important;
}
.wp-admin.options-permalink-php code {
    color: #eee;
}
.wp-admin.form-wrap label {
    color: #3f3d3d;
}
#available-widgets .widget-description, #widgets-right a.widget-control-edit, .in-widget-title {
    color: #eee;
}
.wp-admin.options-general-php label {
    color: #eee;
}
.wp-admin.form-table th {
    color: #eee;
}
.wp-admin.flatty_top_bar td {
    color: #eee;
}
.wp-admin.flatty_top_bar li {
    color: #a1a1a1;
}

.wp-admin.flatty_top_bar code {
    color: #ebebeb;
}

.wp-admin.flatty_top_bar h3 {
    color: #eee;
}
.wp-admin.flatty_top_bar span.wcdfe-addon-label {
    color: #eee;
}
.wp-admin.flatty_top_bar strong {
    color: #000;
}
.wp-admin.flatty_top_bar label {
    color: #2a9bda;
}
.wp-admin.flatty_top_bar span.cptui-field-description {
    color: #8f8c8c;
}
.wp-admin.flatty_top_bar p {
    color: #40a6d2;
}
#the-list td.name.column-name, #the-list td.role.column-role, #the-list td.date.column-date, #the-list td.modified.column-modified {
    color: #555;
}</style>
<!-- end Simple Custom CSS and JS -->
